.normal {
    background: #4abdac;
}
.stoped {
    background: #fc4a1a;
}
.duty {
    background: #f7b733;
}
a:focus,
a:hover {
    text-decoration: none;
}


@media screen and (min-width: 980px) {
    /* Desktop */
}
@media screen and (max-width: 979px) {
    /* Tablet */
}
@media screen and (max-width: 500px) {
    /* Mobile */
}
.route-box {
    overflow: hidden;
    position: relative;
    min-width: 50px;
    width: 67px;
    cursor: pointer;
    /* desired width */
}
.route-box__text {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
.route-box__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.route-box__cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.route-box__table {
    display: table;
    width: 100%;
    height: 100%;
}
.route-box:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.route-list {
  list-style: none;
  padding: 0;
    text-align: right;
    vertical-align: top;
}

.route-list_inline {
    display: inline-block;
}

.route-list__element {
    margin: 5px 10px;
}
.route-list__element_horizontal {
    display: inline-block;
}

.inform-window {
    display: table;
    height: 100px;
    width: 100%;
    padding: 0;
}

.inform-window_stoped{
    background-image: linear-gradient(to bottom, #fd9a7f 0, #fec1b1 100%);
}
.inform-window_duty{
    background-image: linear-gradient(to bottom, #fbda95 0, #fdebc6 100%);
}
.inform-window_normal{
    background-image: linear-gradient(to bottom, #95d8ce 0, #bae6df 100%);
}
.inform-window__way {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 16px;
    width: 20%;
}
.inform-window__route-box {
    box-shadow: 2px 4px 3px -1px rgba(0, 0, 0, 0.5);
}
.inform-window__actions{
    display: table-cell;
    vertical-align: middle;
}
.inform-window__message {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
    padding: 10px 20px ;
}
.inform-window__text {
    font-size: 20px;
    color: #000;
}

.glyphicon {
    padding: 5px;
    font-size: 30px;
    margin: 0 10px;
}
.glyphicon:hover {
    cursor: pointer;
    color: #000000;
}


body > footer {
    margin-bottom: 20px;
}

.header{
    position: relative;
    text-align: center;
}
.header__logo {
    position: absolute;
    top: 50px;
    right: 0;
}

.social-icon{
    width: 30px;
}

.control-form{
    display: inline-block;
    width: 100%;
    height: 300px;
}

.control-form__textarea{
    resize: vertical;
}

.side-routes{
    display: inline-block;
    width: 20%;
    height: 500px;
    margin-right: 50px;
    vertical-align: text-top;
}
.main{
    display: inline-block;
    width: 60%;
    vertical-align: text-top;
}

.messages{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 60%;
}

.messages__element{

}

.message{
    height: 52px;
    border: 1px solid #f0ad4e;
}

.message__image{
    display: inline-block;
    vertical-align: top;
}

.message__info{
    display: inline-block;
    height: 100%;
}

.message__text{
    height: 60%;
    padding: 5px;
}

.message__time{
    padding: 0 5px;
}

.route-list_scrollable{
    overflow: hidden;
    height: 100%;
}

.route-list_scrollable:hover{
    overflow: auto;
}

.messages_scrollable{
    height: 300px;
    overflow: hidden;
}

.messages_scrollable:hover{
    overflow: auto;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*# sourceMappingURL=style.css.map*/